{% extends 'layout.html.twig' %}

{% block title %}Wildify | Home{% endblock %}

{% block content %}
    <div class="homepage-wrapper">
        {# pop #}
        <h2>Pop</h2>
        <div class="multiple-item-wrapper">
            {% for track in pop.tracks %}
                <div class="single-item-wrapper">
                    <a href="spotify-play?
                            spotify-sample={{ track.preview_url }}&
                            spotify-artist={{ track.artists[0].name }}&
                            spotify-title={{ track.name }}&
                            spotify-img={{ track.album.images[1].url }}">
                        <div class="img-and-icon"
                             style="background-image: url('{{ track.album.images[1].url }}'); background-size: cover">
                            <img src="assets/images/play-icon-gold.png" class="home-play-icon">
                        </div>
                    </a>
                    <p class="item-artist">{{ track.artists[0].name }}</p>
                    <p class="item-title">{{ track.name }}</p>
                </div>
            {% endfor %}
        </div>
        {# rock #}
        <h2>Rock</h2>
        <div class="multiple-item-wrapper">
            {% for track in rock.tracks %}
                <div class="single-item-wrapper">
                    <a href="spotify-play?
                            spotify-sample={{ track.preview_url }}&
                            spotify-artist={{ track.artists[0].name }}&
                            spotify-title={{ track.name }}&
                            spotify-img={{ track.album.images[1].url }}">
                        <div class="img-and-icon"
                             style="background-image: url('{{ track.album.images[1].url }}'); background-size: cover">
                            <img src="assets/images/play-icon-gold.png" class="home-play-icon">
                        </div>
                    </a>
                    <p class="item-artist">{{ track.artists[0].name }}</p>
                    <p class="item-title">{{ track.name }}</p>
                </div>
            {% endfor %}
        </div>
        {# metal #}
        <h2>Metal</h2>
        <div class="multiple-item-wrapper">
            {% for track in metal.tracks %}
                <div class="single-item-wrapper">
                    <a href="spotify-play?
                            spotify-sample={{ track.preview_url }}&
                            spotify-artist={{ track.artists[0].name }}&
                            spotify-title={{ track.name }}&
                            spotify-img={{ track.album.images[1].url }}">
                        <div class="img-and-icon"
                             style="background-image: url('{{ track.album.images[1].url }}'); background-size: cover">
                            <img src="assets/images/play-icon-gold.png" class="home-play-icon">
                        </div>
                    </a>
                    <p class="item-artist">{{ track.artists[0].name }}</p>
                    <p class="item-title">{{ track.name }}</p>
                </div>
            {% endfor %}
        </div>
        {# electro #}
        <h2>Electro</h2>
        <div class="multiple-item-wrapper">
            {% for track in electro.tracks %}
                <div class="single-item-wrapper">
                    <a href="spotify-play?
                            spotify-sample={{ track.preview_url }}&
                            spotify-artist={{ track.artists[0].name }}&
                            spotify-title={{ track.name }}&
                            spotify-img={{ track.album.images[1].url }}">
                        <div class="img-and-icon"
                             style="background-image: url('{{ track.album.images[1].url }}'); background-size: cover">
                            <img src="assets/images/play-icon-gold.png" class="home-play-icon">
                        </div>
                    </a>
                    <p class="item-artist">{{ track.artists[0].name }}</p>
                    <p class="item-title">{{ track.name }}</p>
                </div>
            {% endfor %}
        </div>
        {# country #}
        <h2>Country</h2>
        <div class="multiple-item-wrapper">
            {% for track in country.tracks %}
                <div class="single-item-wrapper">
                    <a href="spotify-play?
                            spotify-sample={{ track.preview_url }}&
                            spotify-artist={{ track.artists[0].name }}&
                            spotify-title={{ track.name }}&
                            spotify-img={{ track.album.images[1].url }}">
                        <div class="img-and-icon"
                             style="background-image: url('{{ track.album.images[1].url }}'); background-size: cover">
                            <img src="assets/images/play-icon-gold.png" class="home-play-icon">
                        </div>
                    </a>
                    <p class="item-artist">{{ track.artists[0].name }}</p>
                    <p class="item-title">{{ track.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
