{% extends 'layout.html.twig' %}

{% block title %} Wildify | Manage my tracks {% endblock %}

{% block content %}
    <section class="manage-music-section">

        <h1 class="setting-title">> Manage my tracks <</h1>

        <div class="manage-song-card">
            {% for song in songs %}
                <div class="manage-music-info">
                    <a href="/play?id={{ song.id_song }}" class="song-link-manage-music">
                        {% if song.image_url %}
                            <div class="songCover" style="background-image: url('/{{ song.image_url }}');background-size: cover">
                            </div>
                        {% else %}
                            {% set imgCover = random(rndSongCoverImg) %}
                            <div class="songCover" style="background-image: url('/{{ imgCover }}');background-size: cover">
                            </div>
                        {% endif %}

                        <div class="info-title-artist">
                            <div class="manage-song-title">
                                {{ song.title }}
                            </div>
                            <div class="manage-song-artist">
                                {{ song.artist }}
                            </div>
                        </div>
                    </a>
                    <div class="div-btn-manage-song">
                        <button class="btn-option manage warning-option btn-modal-music" data-modal="{{ song.title }}">
                            Delete
                        </button>
                    </div>
                </div>

                <div class="modal modal-music" id="{{ song.title }}">
                    <div class="modal-music-body">
                        <div class="modal-music-content">
                            <p class="modal-music-text">You are about to delete :</p>
                            <p class="modal-music-title">{{ song.title }}</p>
                            <p class="modal-music-artist">{{ song.artist }}</p>
                        </div>
                        <div class="profile-button-option reverse-button">
                            <button class="btn-option modal-adapt redirection-option btn-back">Back</button>
                            <form action="/setting/manage_music/delete" method="POST">
                                <button type="submit" name="delete" class="btn-option modal-adapt warning-option"
                                        value="{{ song.id_song }}">Delete song
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                {# -------- if no results found -------- #}
            {% else %}
                <div>
                    <h3 class="no-music-found">You haven't added music yet...</h3>
                </div>

            {% endfor %}
        </div>
    </section>
{% endblock %}
